chris_plugin==0.1.2
Faker==6.4.1
pfdo==5.0.0
pfdo-run==3.2.6
pfmisc==2.2.2
pftree==3.4.2
pudb==2020.1
Pygments==2.8.0
python-dateutil==2.8.1
six==1.15.0
text-unidecode==1.3
urwid==2.1.2
pftag==1.2.22
pflog==1.2.26
pftel-client
